* {
  box-sizing: border-box;
}

.page-wrap {
  width: 900px;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}
.header {
  text-align: center;
}

img {
  display: block;
}
.fixed-img {
  max-width: 100%;
}
.my-img {
  max-width: 250px;
  height: 350px;
}

a {
  color: lightblue;
}

h1 {
  font-size: 4em;
}
h1,
h2 {
  margin: 0 0 10px 0;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  color: white;
}

.story-intro h1 {
  font-size: 2.5em;
}
.story-intro p {
  margin: 0;
}

.story2 {
  overflow: hidden;
}
.story3 {
  overflow: hidden;
}

.sub-story {
  float: left;

  position: relative;
  font-size: 80%;
}

.last {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .page-wrap {
    max-width: 100%;
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    grid-gap: 10px;
  }
  h1 {
    font-size: 3em;
  }
  .story-intro h1 {
    font-size: 1.5em;
  }
  .header {
  }
  .main-story {
  }
  .story2 {
    justify-self: center;
  }
  .story3 {
    justify-self: center;
  }
  .last {
    justify-self: center;
  }
}
@media screen and (min-width: 768px) {
  .page-wrap {
    max-width: 600px;
    display: grid;
    grid-template-areas:
      "a a a a"
      "b b c c"
      "d d e e";
    grid-template-rows: 100px 350px 350px;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 5px;
  }
  .story-intro h1 {
    font-size: 2em;
  }
  .header h1 {
    font-size: 3em;
    text-align: center;
  }
  .header {
    grid-area: a;
    grid-column: 1 / 5;
  }
  .main-story {
    grid-area: b;
    justify-self: start;
    align-self: start;
    grid-column: 1 / 4;
  }
  .fixed-img {
    object-fit: cover;
    width: 400px;
    min-height: 350px;
  }
  .story2 {
    grid-area: c;
    justify-self: end;
    grid-column: 4 / 5;
  }
  .kitten {
    object-fit: cover;
    width: 200px;
    min-height: 100%;
  }
  .story3 {
    grid-area: d;

    justify-self: center;
    grid-column: 1 / 3;
  }
  .my-img {
    object-fit: cover;
  }

  .last {
    grid-area: e;
    justify-self: center;
    grid-column: 3 / 5;
  }
}

@media screen and (min-width: 992px) {
  .page-wrap {
    max-width: 900px;
    display: grid;
    grid-template-areas:
      "a a a"
      "b b b"
      "c d e";

    grid-template-rows: 120px auto 350px;
    grid-template-columns: 300px 300px 300px;
  }
  h1 {
    font-size: 4em;
  }
  .story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
  }
  .header {
    grid-area: a;
    min-width: 100%;
  }
  .main-story {
    grid-area: b;
    width: 100%;
  }
  .fixed-img {
    object-fit: cover;
    min-width: 100%;
  }
  .story2 {
    grid-area: c;
    justify-self: start;
  }
  .kitten {
    width: 100%;
  }
  .story3 {
    grid-area: d;
    justify-self: center;
  }
  .last {
    grid-area: e;
    justify-self: end;
  }
}
@media screen and (min-width: 1200px) {
  .page-wrap {
    background: gray;
  }
}
