* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #878787;
  font-size: 15px;
}

.deal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  top: 30px;
  left: 30px;
}

.top-deal {
  border: 1px solid #ff6666;
  position: relative;
  color: #878787;
  width: 400px;
  height: 450px;
}

.top-deal .top-deal__sale {
  background: #ff6666;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding-top: 13px;
}

.top-deal img {
  padding: 15px 80px;
  max-width: 97%;
  max-height: 94%;
  position: relative;
}

.top-deal .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.top-deal .price-row .current-price {
  color: #ff6666;
  font-size: 30px;
  width: 26%;
}

.top-deal .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.top-deal .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.top-deal .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.top-deal .text {
  width: 60%;
  padding: 3px 10px;
  padding: 10px 0 0 30px;
}

.top-deal .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 30px;
}

.top-deal:hover {
  border: 3px solid #ff6666;
}

.top-deal:hover .text {
  text-decoration: underline;
}

.deals__sale {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 13px;
}

.dots {
  font-size: 20px;
  padding: 0 15px;
}

.deal1 {
  border: 1px solid #ff931d;
  position: relative;
  left: 30px;
  width: 400px;
  height: 215px;
}

.deal1 .deals__sale {
  background-color: #ff931d;
}

.deal1 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal1 .main-info img {
  width: 35%;
  height: 35%;
  padding-top: 20px;
  padding-right: 10px;
}

.deal1 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal1 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal1 .price-row .current-price {
  color: #ff931d;
  font-size: 20px;
  width: 11%;
}

.deal1 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal1 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal1 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal1 .new {
  text-align: center;
}

.deal2 {
  border: 1px solid #ff931d;
  position: relative;
  left: 60px;
  width: 400px;
  height: 215px;
}

.deal2 .deals__sale {
  background-color: #ff931d;
}

.deal2 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal2 .main-info img {
  width: 30%;
  height: 30%;
  padding-right: 10px;
}

.deal2 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal2 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal2 .price-row .current-price {
  color: #ff931d;
  font-size: 20px;
  width: 11%;
}

.deal2 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal2 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal2 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal2 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 3px 10px;
}

.deal2 .info .free-sh {
  width: 50%;
  text-align: center;
}

.deal2 .info .new {
  width: 50%;
  text-align: center;
}

.deal1:hover,
.deal2:hover {
  border: 3px solid  #ff931d;
}

.deal1:hover .text,
.deal2:hover .text {
  text-decoration: underline;
}

.deal3 {
  border: 1px solid #ffbe17;
  position: relative;
  left: 30px;
  top: 10px;
  width: 400px;
  height: 215px;
}

.deal3 .deals__sale {
  background-color: #ffbe17;
  font-size: 16px;
}

.deal3 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal3 .main-info img {
  width: 30%;
  height: 30%;
  padding-right: 10px;
}

.deal3 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal3 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal3 .price-row .current-price {
  color: #ffbe17;
  font-size: 20px;
  width: 11%;
}

.deal3 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal3 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal3 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal3 .free-sh {
  text-align: center;
}

.deal4 {
  border: 1px solid #ffbe17;
  position: relative;
  left: 60px;
  top: 10px;
  width: 400px;
  height: 215px;
}

.deal4 .deals__sale {
  background-color: #ffbe17;
  font-size: 16px;
}

.deal4 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal4 .main-info img {
  width: 35%;
  height: 35%;
  padding-top: 20px;
  padding-right: 10px;
}

.deal4 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal4 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal4 .price-row .current-price {
  color: #ffbe17;
  font-size: 20px;
  width: 11%;
}

.deal4 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal4 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal4 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal4 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 30px;
}

.deal3:hover,
.deal4:hover {
  border: 3px solid #ffbe17;
}

.deal3:hover .text,
.deal4:hover .text {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .deal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 0;
  }
  .deal1 {
    top: 20px;
    left: 0;
  }
  .deal2 {
    top: 40px;
    left: 0;
  }
  .deal3 {
    top: 60px;
    left: 0;
  }
  .deal4 {
    top: 80px;
    left: 0;
  }
}

@media only screen and (min-width: 767px) {
  .deal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
  }
  .top-deal {
    width: 380px;
    float: left;
  }
  .deal1 {
    width: 380px;
    top: 0;
    left: 10px;
  }
  .deal2 {
    width: 380px;
    bottom: 215px;
    left: 390px;
  }
  .deal3 {
    width: 380px;
    top: 20px;
    left: -380px;
  }
  .deal4 {
    width: 380px;
    top: -195px;
    left: 200px;
  }
}

@media only screen and (min-width: 992px) {
  .deal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: relative;
  }
  .dots {
    font-size: 15px;
  }
  .top-deal {
    width: 300px;
  }
  .top-deal img {
    width: 150%;
    padding-right: 10px;
  }
  .top-deal .text {
    padding-left: 20px;
    width: 60%;
  }
  .top-deal .price-row {
    padding-top: 20px;
  }
  .top-deal .price-row .current-price {
    width: 35%;
  }
  .top-deal .price-row .old-price:before {
    width: 15%;
  }
  .deal1 {
    width: 300px;
  }
  .deal1 .price-row {
    padding-top: 10px;
  }
  .deal1 .price-row .current-price {
    width: 21%;
  }
  .deal1 .price-row .old-price:before {
    width: 15%;
  }
  .deal2 {
    width: 300px;
    top: 0px;
    left: 20px;
  }
  .deal2 .price-row {
    padding-top: 10px;
  }
  .deal2 .price-row .current-price {
    width: 21%;
  }
  .deal2 .price-row .old-price:before {
    width: 15%;
  }
  .deal3 {
    width: 300px;
    top: -215px;
    left: 160px;
  }
  .deal3 img {
    padding-top: 2px;
  }
  .deal3 .price-row {
    padding-top: 10px;
  }
  .deal3 .price-row .current-price {
    width: 21%;
  }
  .deal3 .price-row .old-price:before {
    width: 15%;
  }
  .deal4 {
    width: 300px;
    top: -215px;
    left: 170px;
  }
  .deal4 .price-row {
    padding-top: 10px;
  }
  .deal4 .price-row .current-price {
    width: 21%;
  }
  .deal4 .price-row .old-price:before {
    width: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .deal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: relative;
    left: -5px;
  }
  .dots {
    font-size: 21px;
  }
  .top-deal {
    width: 400px;
  }
  .top-deal img {
    width: 80%;
    left: 30px;
  }
  .top-deal .price-row {
    padding-top: 0;
  }
  .top-deal .price-row .current-price {
    width: 25%;
  }
  .top-deal .price-row .old-price:before {
    width: 12%;
  }
  .deal1 {
    width: 400px;
  }
  .deal1 .price-row {
    padding-top: 20px;
  }
  .deal1 .price-row .current-price {
    width: 11%;
  }
  .deal1 .price-row .old-price:before {
    width: 11%;
  }
  .deal2 {
    width: 400px;
    left: 20px;
  }
  .deal2 .price-row {
    padding-top: 1px;
  }
  .deal2 .price-row .current-price {
    width: 11%;
  }
  .deal2 .price-row .old-price:before {
    width: 11%;
  }
  .deal3 {
    width: 400px;
    top: -215px;
    left: 210px;
  }
  .deal3 .price-row {
    padding-top: 3px;
  }
  .deal3 .price-row .current-price {
    width: 11%;
  }
  .deal3 .price-row .old-price:before {
    width: 11%;
  }
  .deal4 {
    width: 400px;
    top: -215px;
    left: 220px;
  }
  .deal4 .price-row {
    padding-top: 20px;
  }
  .deal4 .price-row .current-price {
    width: 11%;
  }
  .deal4 .price-row .old-price:before {
    width: 11%;
  }
}
/*# sourceMappingURL=style.css.map */