* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #878787;
  font-size: 15px;
}

.deal-container {
  max-width: 1200px;
  max-height: 800px;
  margin: 0px auto;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*.deals {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}*/
.top-deal {
  border: 1px solid #ff6666;
  position: relative;
  color: #878787;
  margin: 5px 5px;
}

.top-deal .top-deal__sale {
  background: #ff6666;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding-top: 13px;
}

.top-deal img {
  padding: 15px 80px;
  max-width: 97%;
  position: relative;
}

.top-deal .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.top-deal .price-row .current-price {
  color: #ff6666;
  font-size: 30px;
  width: 26%;
}

.top-deal .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.top-deal .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.top-deal .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.top-deal .text {
  width: 60%;
  padding: 3px 10px;
  padding: 10px 0 0 30px;
}

.top-deal .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 30px;
}

.top-deal:hover {
  border: 3px solid #ff6666;
}

.top-deal:hover .text {
  text-decoration: underline;
}

.deals__sale {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 13px;
}

.dots {
  max-width: 90%;
  font-size: 20px;
  padding: 0 15px;
  position: relative;
}

.deal1 {
  border: 1px solid #ff931d;
  position: relative;
  margin: 5px 5px;
}

.deal1 .deals__sale {
  background-color: #ff931d;
}

.deal1 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal1 .main-info img {
  max-width: 35%;
  padding-top: 20px;
  padding-right: 10px;
  position: relative;
}

.deal1 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal1 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal1 .price-row .current-price {
  color: #ff931d;
  font-size: 20px;
  width: 11%;
}

.deal1 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal1 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal1 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal1 .new {
  text-align: center;
}

.deal2 {
  border: 1px solid #ff931d;
  position: relative;
  margin: 5px 5px;
}

.deal2 .deals__sale {
  background-color: #ff931d;
}

.deal2 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal2 .main-info img {
  max-width: 30%;
  padding-right: 10px;
  position: relative;
}

.deal2 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal2 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal2 .price-row .current-price {
  color: #ff931d;
  font-size: 20px;
  width: 11%;
}

.deal2 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal2 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal2 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal2 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 3px 10px;
}

.deal2 .info .free-sh {
  width: 50%;
  text-align: center;
}

.deal2 .info .new {
  width: 50%;
  text-align: center;
}

.deal1:hover,
.deal2:hover {
  border: 3px solid  #ff931d;
}

.deal1:hover .text,
.deal2:hover .text {
  text-decoration: underline;
}

.deal3 {
  border: 1px solid #ffbe17;
  position: relative;
  margin: 5px 5px;
}

.deal3 .deals__sale {
  background-color: #ffbe17;
  font-size: 16px;
}

.deal3 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal3 .main-info img {
  max-width: 30%;
  padding-right: 10px;
}

.deal3 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal3 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal3 .price-row .current-price {
  color: #ffbe17;
  font-size: 20px;
  width: 11%;
}

.deal3 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal3 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal3 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal3 .free-sh {
  text-align: center;
}

.deal4 {
  border: 1px solid #ffbe17;
  position: relative;
  margin: 5px 5px;
}

.deal4 .deals__sale {
  background-color: #ffbe17;
  font-size: 16px;
}

.deal4 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal4 .main-info img {
  max-width: 35%;
  padding-top: 20px;
  padding-right: 10px;
}

.deal4 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal4 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal4 .price-row .current-price {
  color: #ffbe17;
  font-size: 20px;
  width: 11%;
}

.deal4 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal4 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal4 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal4 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 30px;
}

.deal5 {
  border: 1px solid #ffbe17;
  position: relative;
  margin: 5px 5px;
}

.deal5 .deals__sale {
  background-color: #ffbe17;
  font-size: 16px;
}

.deal5 .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deal5 .main-info img {
  max-width: 35%;
  padding-top: 20px;
  padding-right: 10px;
}

.deal5 .main-info .text {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.deal5 .price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.deal5 .price-row .current-price {
  color: #ffbe17;
  font-size: 20px;
  width: 11%;
}

.deal5 .price-row .old-price {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: start;
  width: 37%;
}

.deal5 .price-row .old-price:before {
  border-bottom: 2px solid #878787;
  position: absolute;
  content: "";
  width: 12%;
  height: 5.5%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.deal5 .price-row .amazon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 37%;
}

.deal5 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 30px;
}

.deal3:hover,
.deal4:hover {
  border: 3px solid #ffbe17;
}

.deal3:hover .text,
.deal4:hover .text {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .deal-container {
    max-width: 100%;
    overflow: hidden;
  }
  .container {
    max-width: 1000px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-deal {
    max-height: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
  /* .deals {
         display: flex;
         flex-flow: row wrap;
         flex: 1 1 60%;
     } */
  .deal1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .deal2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .deal3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .deal4 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .deal5 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .deal-container {
    max-width: none;
  }
}
/*# sourceMappingURL=style.css.map */