* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.button {
    display: flex;
    margin: 20px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

    #star {
        width: 0;
        height: 0;
        color: #747272;
        position: relative;
        display: block;
        border-right: 10px solid transparent;
        border-bottom: 7px solid #747272;
        border-left: 10px solid transparent;
        transform: rotate(35deg);
        margin-top: 5px;

        &:before {
            height: 0;
            width: 0;
            position: absolute;
            display: block;
            top: -4.5px;
            left: -6.5px;
            border-bottom: 8px solid #747272;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            content: '';
            transform: rotate(-35deg);
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            display: block;
            top: .3px;
            left: -10.5px;
            color: #747272;
            border-right: 10px solid transparent;
            border-bottom: 7px solid #747272;
            border-left: 10px solid transparent;
            transform: rotate(-70deg);
        }
    }

    button {
        display: flex;
        justify-content: space-between;
        padding: 3px 5px;
    }

    .button-name {
        color: #747272;
        font-weight: 900;
        font-size: 18px;
        margin: 0 5px;
    }
}
