* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.wrapper {
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
}
.bl {
  padding: 10px 0;
}
.header {
  background: blue;
  color: #fff;
}
.aside-1 {
  background: orange;
}
.aside-2 {
  background: purple;
}
.center {
  height: 80%;
}

.footer {
  background: green;
  color: #fff;
}
/*
@media only screen and (max-width: 500px) {
  .wrapper {
    
  }
.header {
    height: 10%;
  }
.center {
  height: 80%;
}
  }
  .footer {
    height: 10%;
  }
}
*/

@media only screen and (min-width: 800px) {
  .wrapper {
  }

  .header {
    clear: both;
    width: 100%;
    height: 10%;
  }

  .aside-1 {
    width: 20%;
    float: left;
    height: 100%;
  }
  .main {
    width: 60%;
    float: left;
    height: 100%;
  }
  .aside-2 {
    width: 20%;
    float: left;
    height: 100%;
  }
  .footer {
    clear: both;
    width: 100%;
    height: 10%;
  }
}
