.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.wrapper {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.bl {
  padding: 10px 0;
}

.header {
  background: blue;
  color: #fff;
  height: 15%;
}
.aside-1 {
  background: orange;
  height: 100%;
}

.aside-2 {
  background: purple;
  height: 100%;
}
.footer {
  background: green;
  color: #fff;
  height: 15%;
}

.center {
  height: 70%;
}

@media all and (min-width: 800px) {
  .header {
    clear: both;
    width: 100%;
  }
  .aside-1 {
    width: 20%;
    float: left;
    padding-bottom: 400px;
  }
  .main {
    width: 60%;
    float: left;
  }
  .aside-2 {
    width: 20%;
    float: left;
    padding-bottom: 400px;
  }
  .footer {
    clear: both;
    width: 100%;
  }
}
